<div>
    <h1>About</h1>
    <p>With several years of experience in technology already as a QA Analyst, I am currently expanding my horizons by
        learning the development side of technology. I also dabble in classic cars, 3D printing, singing and cooking.
        One must remain a well rounded person after all.
    </p>
    <h3>Technological Expertise</h3>
    <ul>
        <li>Test Plans/Test Cases</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Agile and Kanban Methodologies</li>
    </ul>
</div>